/* ---------------------- */
/* Product-item.css Styles */
/* ---------------------- */

.Product-img {
  width: 60px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.Product-info {
  display: block;
  margin: 5px 0;
}

.Product-info .Product-name {
  font-size: 1.4rem; 
  margin-top: 0;
}

.Product-info .Product-reknown {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0;
}
