<div class="card search">
  <h1 class="search-headline">Product Directory</h1>
  <label class="search-label">search
    <span *ngIf="query"
      [innerHTML]="' for: ' + query"></span></label>
    <input class="search-input"
      [(ngModel)]="query" placeholder="type in search term here">
</div><!-- card search -->

<ul class="Productlist cf"
  *ngIf="query">
  <li class="Productlist-item cf"
    (click)="showProduct(item); query=''"
    *ngFor="let item of (Products | search: query)">
    <Product-item class="content" [Product]=item></Product-item>
  </li>
</ul>

<Product-details 
  *ngIf="currentProduct"
  [Product]="currentProduct"></Product-details>